* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --headerHeight: 144px;
  --footerHeight: 60px;
  --mainHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

body {
  max-width: 1440px;
  min-height: 650px;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
  display: flex;
  flex-direction: column;
}

header {
  width: 1140px;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav ul li a {
  text-decoration: none; 
  color: inherit; 
}
.active {
  font-weight: 600
}
li:hover {
  color: #b1663c;
}

main {
  width: 1140px;
  min-height: var(--mainHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
}

form button:hover {
 background-color: #0E2F28;
 color: white;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  color: #1d6154;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

label {
  margin-top: 20px;
  text-align: left;
}

.login {
  width: 33%;
  margin: auto;
}

.login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login label {
  margin: 2em 0 1em 0;
}

button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 50px;
  text-align: center;
  border-radius: 60px;
}

.error {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footerHeight);
  background-color: white;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

footer nav ul {
  list-style-type: none;
  margin-right: 50px;
}

footer nav ul li {
  padding: 20px;
}
